@import '../../styles/variables.scss';

.stripe {
    min-height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    position: relative;
    overflow: hidden;

    &__image {
        transition: 750ms cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    &__filter {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        top: 0;
        background-color: #FFFFFF;
        opacity: 0.65;
        transition: 750ms cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    h2 {
        font-size:30px;
        letter-spacing: 5px;
        z-index: 1000;
        &:hover {
            cursor: pointer;
            color:white;
        }

        &:hover ~ .stripe__filter {
            height: 0%;
        }

        &:hover ~ .stripe__image {
            transform: scale(1.025);
        }
    }

    @include media-tablet {
        border: 0;
        border-right: 1px solid black;
        width:25vw;

        h2 {
            rotate: -90deg;
            flex: 0 0 auto;
            font-size: 65px;
        }
    }

    @include media-desktop {
        min-width:21vw;
    }
}