@import '../../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    background-color: black;

    @include media-tablet {
        flex-direction: row;
        height:100vh;
    }

    main {
        flex: 1;

        @include media-tablet {
            width:0;
            max-height: 100vh;
            overflow: auto;
            position: relative;
        }

    }
}